* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1f293a;
}

.container {
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

span{
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: blink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes blink {
    0% {
        background: #0ef;
    }

    25% {
        background: #2c4766;
    }
}
